*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

.header{
    /* background-image: url("Pics/header.jpg"); */
    background-color: greenyellow;
    display: block;
    width: 100%;
}

.header p{
    font-size: 50px;
    color: green;
}

.navbar{
    background-color: darkgreen;
}

.navbar a{
    list-style: none;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 5px;
    font-size: 30px;
}

.navbar>ul{
    display: flex;
    width: 100%;
    text-align: center;
}

.navbar>ul>li{
    list-style: none;
    position: relative;
    flex: 1;
}

.navbar>ul>li:hover{
    background-color: purple;
}

.navbar>ul>li>ul{
    list-style-type: none;
    text-align: center;
    width: 100%;
    position: absolute;
    display: none;
}

.navbar>ul>li:hover>ul{
    display: block;
    background-color: brown;
}

.navbar>ul>li:hover>ul>li:hover{
    background-color: black;
    
}

.footer{
    width: auto;
    background-image: url("Pics/space.jpg");
    text-align: center;
}

.footer>p{
    color: white;
    font-size: 30px;
}

.sosmed>a>img{
    width: 50px;
    height: 50px;
}

.sitemap a{
    list-style: none;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 5px;
    font-size: 30px; 
}

.sitemap>ul{
    display: flex;
    width: 100%;
    text-align: center;
}

.sitemap>ul>li{
    list-style: none;
    position: relative;
    flex: 1;
}

.sitemap>ul>li>a{
    font-weight: bold;
}

/* Page Climate Change */
.body-climate{
    font-size: 16px;
    background-color:  rgb(137, 245, 171);
    padding: 10px 10px 5% 10px;   
}

.body-climate>h1{
    text-align: center;
    font-size: 2em;
}

.isi-climate{
    border: 5px solid rgb(137, 245, 171);
    background-color: white;
    /* border-radius: 25px; */
    margin: 0 15% 0 15%;
    padding: 10px 10px 10px 10px;
}
.isi-climate>p{
    font-size: 1.5em;
    line-height: 1.2em;
}
.isi-climate-img{
    float: right;
    clear: right;
    margin: 0.5em 0.5em 2em 2em;
    text-align: justify;
    width: 320px;
}
.isi-climate-img img{
    width: 320px;
    height: auto; /* sus */
}

/* News */

.body-news{
        font-size: 1em;
        background-color:  rgb(137, 245, 171);
    }


.full-berita{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: darkcyan;
    display: block;
}

.berita{
    width: 320px;
    float: none;
    font-size: 1em;
}

.berita a{
    text-decoration: none;
    color: black;
}


.berita img{
    width: 320px;
}

.content-berita{
    font-size: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.content-berita b{
    font-size: 1.2em;
}

.content-berita h4{
    color: burlywood;
    margin-top: 3px;
}

.content-berita a{
    color: white;
    text-decoration: none;
    border-style: groove;
    border-color: black;
    background: black;
}


/* About Us */
.body-about{
    font-size: 16px;
    background-color:  rgb(137, 245, 171);
    padding: 10px 10px 5% 10px;   
}

.body-about>h1{
    text-align: center;
    font-size: 2em;
}
.isi-about{
    border: 5px solid rgb(137, 245, 171);
    background-color: white;
    /* border-radius: 25px; */
    margin: 0 15% 0 15%;
    padding: 10px 10px 10px 10px;
    display: block;
}
.isi-about p{
    font-size: 1.5em;
    line-height: 1.2em;
}
.isi-about>p{
    font-size: 2.2em;
    line-height: 1.2em;  
}
.isi-about-img{
    display: flex;
    margin-bottom: 20px;
}
.isi-about-img img{
    width: 320px;
    margin-right: 10px;
}

/* Yang Media2 gitu */
@media (max-width: 800px){
    .navbar>ul{
        display: block;
    }

    .navbar>ul>li>ul{
        position: relative;
    }

    .sitemap>ul{
        display: block;
    }

    .sitemap>ul>li>ul{
        position: relative;
    }

    .isi-climate{
        margin: 0 0 0 0;
    }

    .isi-climate-img{
        float: none;
        margin: 0 0 0 0;
        max-width: 100%;
    }

    .isi-about-img{
        float: none;
        display: block;
        margin: 0 0 100px 0;
        max-width: 100%;  
    }

    .isi-about-img img{
        max-width: 100%;
    }
}

